# +-----------------------------------------------------+
# |                                                     |
# |                                                     |
# |   Do NOT make modifications without maintaining a   |
# |      backup copy.                                   |
# |                                                     |    
# | see the config_readme.html for details on this file | 
# +-----------------------------------------------------+
# |                                                     |
# | run the the -d as the first parameter for debugging |
# | info and a DOS window                               |
# |                                                     |
# +-----------------------------------------------------+

# to send the System.out and System.err to a log file only 
# for CWMS clients

##vmparam -DLOGFILE=$TEMP/logs/flow.log
##vmparam -Djava.security.policy=jar:file:jar/rmadev.jar!/com/.java.policy

# Specify the Application's main class
mainclass usace.rowcps.headless.RegiCLI -p examples\\credentials.properties -f examples\\PoolPercent.py
vmparam -Drowcps.timezone=GMT 

# Tune this VM to provide enough headroom to work on large
# applications
vmparam -Xmx4000M
#vmparam -Djava.library.path=lib64
# +-----------------------------------------------------+
# |                                                     |
# | Specify the class path.                             |
# |                                                     |
# +-----------------------------------------------------+
addpath classes
addjars lib
addjars lib/sys
addjars lib/modules
addjars lib/ext

# +-----------------------------------------------------+
# |                                                     |
# | the following jar paths are for the HECJava install |
# |                                                     |
# +-----------------------------------------------------+
#addjars jar/nextGen
#
showConsole true

# +-----------------------------------------------------+
# |                                                     |
# | Specify the JVM.  If no JVM is specified then the   |
# | JVM configured in the Windows Registry is used      |
# |                                                     |
# +-----------------------------------------------------+
# to run the JVM with a DOS window uncomment and specify the path to java.exe
#javapath j:/progra~1/javasoft/jdk1.3.1/bin/java
#javapath c:/javasoft/j2sdk1.4.2_08/bin/java
# to run a particular JVM without a DOS window uncomment and 
# specify the path to javaw.exe
javapath jre64/bin/java

# to override the default heap growth / shrinkage rates uncomment the following
#vmparam -Xminf0.2
#vmparam -Xmaxf0.2

# Force standard VM settings for all applications
vmparam -Xverify:none
# +-----------------------------------------------------+
# |                                                     |
# |    Uncomment the following line if you are seeing   |
# |    screen glitches while running RTS.  This    |
# |  problem is especially common under Windows 95/98.  |
# |                                                     |
# +-----------------------------------------------------+
vmparam -Dsun.java2d.noddraw
vmparam -DCWMS_HOME=.

# +-----------------------------------------------------+
# |                                                     |
# |    Uncomment the following line if you are having   |
# |   problems with your default file encoding.  This   |
# |         problem is evident in some locales.         |
# |                                                     |
# +-----------------------------------------------------+
#vmparam -Dfile.encoding=ISO8859_1

#vmparam -Djava.util.logging.config.file=./config/properties/logging.properties
#vmparam -DDataSetValidParameterListFile=..\config\parameters_units.def 
#vmparam -DUNIT_FILE=config\unitConversions.def 







